<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Games</title>
  </head>
  <body>
    <h1>Games</h1>
    <a href="/games/create">New Game</a>
    <ul>
      <% for (let i = 0; i < games.length; i++) { %>
      <li>
        <h3><%= games[i].name %></h3>
        <p>Length: <%= games[i].length %></p>
        <p>Metascore: <%= games[i].metaScore %></p>
        <p>User Score: <%= games[i].userScore %></p>
        <p>Price: <%= games[i].price %></p>
        <p>Genre: <%= games[i].genre %></p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
