<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single Game</title>
  </head>
  <body>
    <%- include("navbar") %>
    <h1><%= game.name %></h1>
    <p>Length: <%= game.length %></p>
    <p>Metascore: <%= game.meta_score %></p>
    <p>User Score: <%= game.user_score %></p>
    <p>Price: £<%= game.price %></p>
    <a href="/games/<%= game.id %>/update"><button>Edit</button></a>
    <a href="/"><button>Back</button></a>
  </body>
</html>
